<ul>
<% @tweets.each do |tweet| %>
  <li>
    <h2><%= pretty_date(tweet[:created_at]) %> - <%= tweet[:user] %></h2>
    <div><%= tweet[:text] %></div>
    <div><%= tweet[:sentiment] %></div>
  </li>
<% end %>
</ul>
