<html>
  <head>
    <title>Moody Friends</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% if @user %>
            <li><a href='/sentiment'>Sentiment</a></li>
            <li><a href='/logout'>Logout</a></li>
          <% else %>
            <li><a href='/auth/twitter'>Login with twitter</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
